*{
    margin:0 ;
    padding:0 ;
    box-sizing:border-box ;
}
body{
    font-family:'open sans';
}
.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;

}
.titulo{
    color: rgb(36, 81, 139);
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}
/* Header */
header{
    width: 100%;
    height: 600px;
    background: #2980B9;
      /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);
      /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(0, 0%, 100%, 0.699), hsla(196, 93%, 70%, 0.637), hsla(204, 64%, 44%, 0.692)), url(../img/portada2.jpg);
     /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.textos-header h1{
    font-size: 100px;
    color:rgb(53, 78, 218) ;
}
.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color: #1aa9e2c5;

}
.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}
/* Mente */
nav{
    list-style:none ;
    text-align: center;
    padding: 0;
    background: #56b7da;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    

}
nav >a{
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
}
nav >a{
    display: inline-block;
    text-align: center;
}


nav > a:hover{
    background: hsla(204, 64%, 32%, 0.644);
}
.contenedor-mente{
    display: flex;
    justify-content: space-evenly;
}

.contenedor-mente  .contenido-textos{
    width: 48%;
}
.contenido-textos h2{
    margin-bottom: 15px;
    text-align: center;
    color: rgb(46, 111, 197);
}

.contenido-textos p{
    padding: 0px 0px 30px;
    font-weight: 300;
    text-align: justify;
}
/* About us */
.contenedor-andres{
    display: flex;
    justify-content: space-evenly;
}
.imagen-about-us{
width: 48%; 
padding: 6px;
}
.contenedor-andres .contenido-textos{
    width: 48%;
}
.contenido-textos h3{
    margin-bottom: 15px;
}
.contenido-textos h3 span{
    background: rgb(30, 56, 173);
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align:center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0 .5);
    margin-right: 5px;
}
.contenido-textos p{
    padding: 0px 0px 30px;
    font-weight: 300;
    text-align: justify;
}
.video{
    text-align: justify;
    padding: 60px 0;
        width: 90%;
        max-width: 1000px;
        margin: auto;
        overflow: hidden;
    
    }
    /*  Our team */

.about-services{
    background: #fff;
    padding-bottom: 30px;
}


.servicio-cont{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.servicio-ind{
    width: 28%;
    text-align: center;
}

.servicio-ind img{
    width: 90%;
}

.servicio-ind h3{
    margin: 10px 0;
}

.servicio-ind p{
    font-weight: 300;
    text-align: justify;
}
.up{
    position: fixed;
    bottom: 50px;
    right:  15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #265ea7;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding-right:1px ;
    cursor: pointer;
}